[Desktop Entry]
Categories=AudioVideo;Player;
Comment=
Exec=muss %U
GenericName=Music Player
Icon=utilities-terminal
Name=Muss
StartupNotify=false
Terminal=true
Type=Application
